{% extends 'core/base.html'%}


{% block title %}<title>Importacion</title> {% endblock title %}
        {% block body %}
            
<form action="#" method="POST">
                  {% csrf_token %}  
                  <table>
                 {{form.as_table}}
                  <td><strong>Numero de proveedores </strong></td>
                 <td><input type="number" name="cantidad" value=2 requiered > </td>
                 
                 
                 </table>



        <button type="submit" class="btn btn-primary" >Guardar</button>
        <a class="btn btn-primary" href="{% url 'facturaproveedor' %}">continuar</a>
                                  

       </form>
  

        {% endblock body %}