{% extends 'core/base.html'%}


{% block title %}<title>Imporatacion</title> {% endblock title %}
        {% block body %}
            
<form action="" method="POST">
                  {% csrf_token %}  
                  <table>
                 {{form.as_table}}
                  <td><b>Numero de proveedores </b></td>
                 <td><input type="number" name="cantidad" value=2 requiered > </td>
                 
                 
                 </table>


<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        
        <button type="submit" class="btn btn-primary" >Guardar</button>
        <a class="btn btn-primary" href="{% url 'facturaproveedor' %}">continuar</a>
        
    </div>                                 

       </form>
  

        {% endblock body %}