
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}<title>PAGINA - INICIO</title> {% endblock title %}
        
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        
    </head>
  
        
    <body class="sb-nav-fixed">
        
    
        
        
                
                        {% block body %}
                        

                    {% endblock body %}
             ¡


       <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script src="{% static 'core/js/scripts.js' %}" ></script>
       <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
       <script src="{% static 'core/js/datatables-simple-demo.js' %}"></script>
    </body>
</html>

      