{% extends 'core/base.html'%}
{% load static %}


{% block title %}<title>Producto importados </title> {% endblock title %}
{% block body %}
<h1 class="mt-4">Producto importados </h1>

<body onload="nobackbutton();"></body>
{%include 'core/messages.html'%}
<link href="{% static 'core/css/proveedor.css' %}" rel="stylesheet" />
<form role="form" method="POST" action="{% url 'productosimportados' id idas idfa %}">
   <div class="cont">
      <div class="col-xl-12 col-md-1">
         <div class="container-fluid px-4">
            {% csrf_token %}
               
                  
                  {% for lista in productos_detalle_importacion %}
                  <input type="number" style="display:none;" name="id_df" value={{ lista.id }}>  
               <input type="text" name="id_producto" style="display:none;" value={{ lista.producto.id }}>
                  <div class="card">
                     <div class="contenedor">
      
                        <div class="contenedor-fila">
                           <div class="contenedor-columna">SKU  <input type="text" class="form-control" value={{ lista.producto.sku}} class="field left" readonly>
                          </div>
                           <div class="contenedor-columna">Tienda  <select name="proveedor"  class="form-select">
                              <option value={{ lista.proveedor.id }}>{{ lista.proveedor }}</option>
                              {% for prv in proveedores %}
                              <option value={{ prv.proveedor.id }}>{{ prv.proveedor }}</option>
                              {% endfor %}
                           </select> </div>
                           <div class="contenedor-columna">Nombre  <input   class="form-control" type="text" value={{lista.producto.nombre}} readonly> </div>
                           <div class="contenedor-columna">Precio <input  class="form-control" type="number" step="0.0001" name="precio" value={{ lista.valor_unitario }}></div>
                           <div class="contenedor-columna">Peso  <input  class="form-control" type="number" step="0.0001" name="peso" value={{ lista.peso}}></div>
                        </div>
      
            
                     {% comment %}
                     <div class="contenedor-columna">
                        <label>{{ lista.producto.nombre}} </label>
                     </div>{% endcomment %}
                     
                  <div class="contenedor-columna">Mercancia  <select name="mercancia"  class="form-select">
                     <option value={{ lista.mercancia.id }} selected>{{ lista.mercancia }}</option>

                     {% for mer in mercancias %}

                     <option value={{ mer.mercancia.id }}>{{ mer.mercancia }}</option>

                     {% endfor %}
                     </select></div>
                  <div class="contenedor-columna">Cantidad  <input type="number"  class="form-control" name="cantidad" value={{lista.cantidad}}></div>
                  <div class="contenedor-columna">SKU Proveedor  <input type="text"  class="form-control" name="sk_prove"></div>
                  <div class="contenedor-columna">Nombre Producto Proveedor  <input type="text"  class="form-control" name="nombreProve"></div>
               </div>
               
         </div>
      </div>

           

                  {% endfor %}
                  <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                  {% comment %} <a class="btn btn-primary" href="{% url 'detalleimportacion' id idas idfa %}">Atras</a>
                  {% endcomment %}
                  <button type="submit" class="btn btn-primary btn-user btn-block">Guardar y Ver resultados</button>
               </div>
</form>
<script>

   function nobackbutton() {

      window.location.hash = "no-back-button";

      window.location.hash = "Again-No-back-button" //chrome

      window.onhashchange = function () { window.location.hash = "no-back-button"; }

   }
</script>
{% endblock body %}