{% extends 'core/base.html'%}


{% block title %}<title>Creacion de Importacion</title> {% endblock title %}
    {% block body  %} 
    <body onload="nobackbutton();"></body>
      <form role="form" method="POST" action="{% url 'productosimportados' id idas idfa %}">
                            {% csrf_token %}                        

                        Producto importados     
               <table class="table">               
               <tr>
                  <td>SKU</td>
                  <td>Tienda</td>
                  <td>Nombre</td>
                  <td>Precio</td>
                  <td>Peso</td>
                  <td>Mercancia</td>
               
                  <td>Cantidad</td>
                  <td>SKU Proveedor</td>
                  <td>Nombre Proveedor</td>
                  
               </tr>   

                   {% for lista in productos %}
                     <tr>

                     <input type="number"  style="display:none;" name="id_df" value={{ lista.id }} >
                     <input type="text" name="id_producto" style="display:none;" value={{ lista.producto.id}} >
                     <td><input type="text"  value={{ lista.producto.sku}}  class="field left" readonly> </td>
                        <td><select name="proveedor">
                        <option value={{ lista.proveedor.id }} >{{ lista.proveedor }}</option>
                              {% for prv in proveedores %}
                              <option value={{ prv.proveedor.id }} >{{ prv.proveedor }}</option>
                                             {% endfor %}
                                    </select></td>
                        {% comment %} <td><label>{{ lista.producto.nombre}} </label> </td> {% endcomment %}
                        <td><input type="text"  value={{lista.producto.nombre}}   readonly> </td>
                        <td><input type="number"  step="0.01" name="precio" value={{ lista.valor_unitario }}></td>
                     
                    
                     <td><input type="number" name="peso" value={{ lista.peso }}></td>
                    
                              
                     <td><select name="mercancia">
                     <option value={{ lista.mercancia.id }} selected>{{ lista.mercancia }}</option>
                     
                              {% for mer in mercancias %}
                              
                                       <option value={{ mer.mercancia.id }}>{{ mer.mercancia }}</option>
                              
                              {% endfor %}
                              </select></td>
                            <td><input type="number" name="cantidad" value={{lista.cantidad}}></td>
                     <td><input type="text" name="sk_prove" ></td>
                     <td><input type="text" name="nombreProve" ></td>
                              </tr>
                     {% endfor %}

                     

               </table>  
 {% comment %} <a class="btn btn-primary"  href="{% url 'detalleimportacion' id idas idfa %}">Atras</a>  {% endcomment %}
              <button type="submit" class="btn btn-primary btn-user btn-block">Guardar y Ver resultados</button>   
                   
   </form>
<script>
	
function nobackbutton(){
	
   window.location.hash="no-back-button";
	
   window.location.hash="Again-No-back-button" //chrome
	
   window.onhashchange=function(){window.location.hash="no-back-button";}
	
}
</script>
{% endblock body %}