{% extends 'core/base.html'%}


{% block title %}<title>Productos</title> {% endblock title %}
        {% block body %}


            
<form action="{% url 'buscarproducto' id idas idfa %}" method="POST">

                  {% csrf_token %} 

                  

                    <div class="col-md-2 mb-3">
                                                <label for="id_sku">Ingrese los sku</label>
                                                <input type="text" class="form-control" id="id_sku"
                                                       name="skus"  required>
                                            </div>
{% comment %} 
        <a href="{% url 'detalleimportacion' %}" class="btn btn-secondary btn-full">Cancelar</a>
                            <input type="submit" class="btn btn-success btn-full" value="Buscar">

                                </div>
                            </div>
                   {% endcomment %}

                  
<a class="btn btn-primary"  href="{% url 'detalleafianzado' id idas idfa  %}">Atras</a>
<button type="submit" class="btn btn-primary btn-user btn-block">Buscar</button>


                                    
        {% endblock body %}