
{% extends 'core/base.html'%}


{% block title %}<title>Registro detalle DAS</title> {% endblock title %}
        {% block body %}
        <div class="centro">
      <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress" style="width: 60%;"></div>
                <div class="circle active"><i class="fa-html5">1</i><li>Proveedor</li></div>
                <div class="circle active"><i class="fa-js">2</i><li>DAS</li></div>
                <div class="circle active "><i class="fa-react">3</i><li>Afianzado</li></div>
                <div class="circle "><i class="fa-html5">5</i><li>Importación</li></div>
            </div>
    </div> 
</div> 


    <h1 class="mt-4"> Detalle afianzado {{afz.afianzado.nombre }} </h1>

 <div class="bg-light">
                    <div class="container-fluid px-4">
                        
                              <nav aria-label="breadcrumb" class="breadcrumb">
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'importacion' id %}">Inicio Importacion</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'startFP' id %}">Detalle factura</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'datosdas' id idas %}">Datos DAS</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'detalledas' id idas %}">Detalle Das</a></li>
                                 <li class="breadcrumb-item"><a href="{% url 'datosafianzado' id idas idfa  %}">Factura afianzado</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Detalle afianzado</li>
                            </ol>
                            </nav>           
                        </div>
            </div> 
<form action="" method="POST">
                  {% csrf_token %} 
                
            {% for message in messages %}
        <div class="alert alert-warning alert-dismissable">

            <strong>¡Alerta!</strong> {{ message }}
        </div>
        {% endfor %}
 <input type="text" style="display:none;" id="n"  value={{cant}} >


                  <table class="table">
                  
    
  <tr>
    
    <td>Descripcion</td>
    <td>Al perso</td>
    <td>Al precio</td>
    <td>Iva</td>
   
    <td>Total</td>
    
  </tr>     
  
   <input type="number" style="display:none;" id="n"  value=4 onChange="sumar()"> 
  
          
        {% for lista in dat_d %}
        
                    <tr>
                {% comment %} <td>  <input type="text"  name="id_afianzado" value={{afz.afianzado.nombre }}  disabled></td> {% endcomment %}
                        
                   <td>  <input type="text" class="form-control" name="descripcion" value={{lista.descripcion}}   required ></td>
                   <td>  <input type="number"  class="form-control" step="0.0001" id='alpe{{lista.id}}' name="alpeso" value={{lista.al_peso}}  onChange="sumar()" min="0" required /></td>
                   <td>  <input type="number" class="form-control" step="0.0001" id='alpr{{lista.id}}' name="alprecio" value={{lista.al_precio}} onChange="sumar()" min="0" required /></td>
                   <td>  <input type="text" class="form-control"  id='iv{{lista.id}}' name="iva" value={{lista.iva}} onChange="sumar()" readonly /></td>
                 <td>  <input type="text" class="form-control"  id='tot{{lista.id}}' name="total" value={{lista.total}}  onChange="sumar()" readonly /></td>
            </tr>
        {% endfor %}
</table> 

<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        {% comment %} <a class="btn btn-primary" href="{% url 'importacion' fecha.id %}">Atras</a> {% endcomment %}
        {% comment %} <a class="btn btn-primary"  href="{% url 'editar' fecha.id %}">editar</a>
         {% endcomment %}
<a class="btn btn-primary"  href="{% url 'datosafianzado' id idas idfa  %}">Atras</a>
        <button type="submit" class="btn btn-primary" >Siguiente</button>
        {% comment %} <a class="btn btn-primary" type="submit"  href="{% url 'das' %}">Guardar y continuar</a> {% endcomment %}
        
    </div>
        <script>       

       
function sumar(){
    var s=document.getElementById("n").value;
    var ss=s.split(';')
    
    for (var i = 0; i < ss.length; i++) {
        
    
    var alpe=parseFloat(document.getElementById("alpe"+ss[i]+"").value);
    var alpr=parseFloat(document.getElementById("alpr"+ss[i]+"").value);
    
  
    var iv=document.getElementById("iv"+ss[i]+"").value=(alpe+alpr)*0.12;
    
    var tot=document.getElementById("tot"+ss[i]+"").value=alpe+alpr+iv;
    


}
    }

</script>                            
</form>
       
  

        {% endblock body %}