
{% extends 'core/base.html'%}


{% block title %}<title>Pregsitro detalle DAS</title> {% endblock title %}
        {% block body %}
       
      <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress"></div>
                <div class="circle active"><i class="fa-html5">1</i><li>Proveedor</li></div>
                <div class="circle active"><i class="fa-js">2</i><li>DAS</li></div>
                <div class="circle active "><i class="fa-react">3</i><li>Afianzado</li></div>
                <div class="circle "><i class="fa-html5">5</i><li>Importación</li></div>
            </div>
    </div> 
<form action="" method="POST">
                  {% csrf_token %} 
                
                  Detalle afianzado {{afz.afianzado.nombre }}
                  <br>



                  <table class="table">
                  
    
  <tr>
    
    <td>Descripcion</td>
    <td>Al perso</td>
    <td>Al precio</td>
    <td>Iva</td>
   
    <td>Total</td>
    
  </tr>     
  
   <input type="number" style="display:none;" id="n"  value=4 onChange="sumar()"> 
  
          
        {% for lista in dat_d %}
        
                    <tr>
                {% comment %} <td>  <input type="text"  name="id_afianzado" value={{afz.afianzado.nombre }}  disabled></td> {% endcomment %}
                        
                   <td>  <input type="text"  name="descripcion" value={{lista.descripcion}}  required></td>
                   <td>  <input type="number"  step="0.1" id='alpe{{lista}}' name="alpeso" value={{lista.al_peso}}  onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1" id='alpr{{lista}}' name="alprecio" value={{lista.al_precio}} onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1" id='iv{{lista}}' name="iva" value={{lista.iva}} onChange="sumar()" /></td>
                 <td>  <input type="number"  step="0.1" id='tot{{lista}}' name="total" value={{lista.total}}  onChange="sumar()" /></td>
            </tr>
        {% endfor %}
</table> 

<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        {% comment %} <a class="btn btn-primary" href="{% url 'importacion' fecha.id %}">Atras</a> {% endcomment %}
        {% comment %} <a class="btn btn-primary"  href="{% url 'editar' fecha.id %}">editar</a>
         {% endcomment %}
<a class="btn btn-primary"  href="{% url 'datosafianzado' id idas idfa  %}">Atras</a>
        <button type="submit" class="btn btn-primary" >Guardar y continuar</button>
        {% comment %} <a class="btn btn-primary" type="submit"  href="{% url 'das' %}">Guardar y continuar</a> {% endcomment %}
        
    </div>
        <script>       

function sumar(){
    var s=document.getElementById("n").value;
    for (var i = 0; i < s; i++) {
    console.log(i)
    var ape=parseFloat(document.getElementById("alpe"+i+"").value);
     console.log(ape)
    var apr=parseFloat(document.getElementById("alpr"+i+"").value);
    var iva=document.getElementById("iv"+i+"").value=(ape+apr)*0.12;
    var ce=parseFloat(document.getElementById("tot"+i+"").value=ape+apr+parseFloat(iva));
    


}
    }
</script>                            
</form>
       
  

        {% endblock body %}