{% extends 'core/base.html'%}


{% block title %}<title>Pregsitro detalle DAS</title> {% endblock title %}
        {% block body %}
            

      <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress"></div>
                <div class="circle active"><i class="fa-html5">1</i><li>Proveedor</li></div>
                <div class="circle active"><i class="fa-js">2</i><li>DAS</li></div>
                <div class="circle "><i class="fa-react">3</i><li>Afianzado</li></div>
                <div class="circle "><i class="fa-html5">5</i><li>Importación</li></div>
            </div>
    </div> 
<form action="" method="POST">
                  {% csrf_token %} 
                
                  Detalle Das
                  <br>



                  <table class="table">
                  
    
  <tr>
    <td>Tipo mercancia</td>
  
    <td>Advalorem</td>
    <td>Fodinfa</td>
    <td>Iva</td>
   
    <td>Subtotal</td>
    
  </tr>     
  
  
  <input type="text" style="display:none;" id="n"  value={{cant}} >
  
          
        {% for lista in ddas %}
        
                    <tr>
                <td>  
                <select name="mercancia">
                <option value={{ lista.mercancia.id }} selected >{{ lista.mercancia }}</option>
        
                {% for mer in mercancia %}
                
                        <option value={{ mer.id }}>{{ mer.nombre }}</option>
                
                {% endfor %}
                </select>
</td>
                   
                   <td>  <input type="number"  step="0.1" id='advalorem{{lista.id}}' name="advalorem" value={{lista.advalorem1}} onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1"  id='fodinfa{{lista.id}}' name="fodinfa" value={{lista.fodinfa1}} onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1" id='iva{{lista.id}}' name="iva" value={{lista.iva1}} onChange="sumar()" /></td>
                 <td>  <input type="text"    id='sub_total{{lista.id}}' name="sub_total" value={{lista.subtotal1}}  onChange="sumar()" readonly /></td>
            </tr>
        {% endfor %}
</table> 

<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        {% comment %} <a class="btn btn-primary" href="{% url 'importacion' fecha.id %}">Atras</a> {% endcomment %}
        {% comment %} <a class="btn btn-primary"  href="{% url 'editar' fecha.id %}">editar</a>
         {% endcomment %}
<a class="btn btn-primary"  href="{% url 'datosdas' id idas %}">Atras</a>
        <button type="submit" class="btn btn-primary" >Guardar y continuar</button>
        {% comment %} <a class="btn btn-primary" type="submit"  href="{% url 'das' %}">Guardar y continuar</a> {% endcomment %}
        
    </div>
        <script>       
function sumar(){
    var s=document.getElementById("n").value;
    var ss=s.split(';')
    
    for (var i = 0; i < ss.length; i++) {
        
    var nc=parseFloat(document.getElementById("num_cajas"+ss[i]+"").value);
    console.log(s.split(';'),ss.length,ss[i],nc)
    var ve=parseFloat(document.getElementById("v_envio"+ss[i]+"").value);
    var vf=parseFloat(document.getElementById("v_factura"+ss[i]+"").value);
    var ce=parseFloat(document.getElementById("comis_envio"+ss[i]+"").value);
    var ct=parseFloat(document.getElementById("comis_tarjeta"+ss[i]+"").value);
    
    console.log("valor factura",vf)
    var isd=document.getElementById("isd"+ss[i]+"").value=(vf+ve)*0.05;
     console.log(isd)
     var t_pago=document.getElementById("t_pago"+ss[i]+"").value=ve+vf+ce+ct+((vf+ve)*0.05);
    var extra=document.getElementById("extra"+ss[i]+"").value=ve+ce+ct+((vf+ve)*0.05);
    console.log(extra)


}
    }


</script>                            
</form>
       
  

        {% endblock body %}