{% extends 'core/base.html'%}


{% block title %}<title>Pregsitro detalle DAS</title> {% endblock title %}
        {% block body %}
            

      <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress"></div>
                <div class="circle active"><i class="fa-html5">1</i><li>Proveedor</li></div>
                <div class="circle active"><i class="fa-js">2</i><li>DAS</li></div>
                <div class="circle "><i class="fa-react">3</i><li>Afianzado</li></div>
                <div class="circle "><i class="fa-html5">5</i><li>Importación</li></div>
            </div>
    </div> 
<form action="detalledas" method="POST">
                  {% csrf_token %} 
                
                  Detalle Das
                  <br>



                  <table class="table">
                  
    
  <tr>
    <td>Tipo mercancia</td>
    <td>Subpartida</td>
    <td>Advalorem</td>
    <td>Fodinfa</td>
    <td>Iva</td>
   
    <td>Subtotal</td>
    
  </tr>     
  
  <input type="number" style="display:none;" id="n"  value={{cant}} onChange="sumar()">
  
          
        {% for lista in cantidad %}
        
                    <tr>
                <td>  
                <select name="mercancia">
        
                {% for mer in mercancia %}
                
                        <option value={{ mer.id }}>{{ mer.nombre }}</option>
                
                {% endfor %}
                </select>
</td>
                   <td>  <input type="text"  name="subpartida"  onChange="sumar()" required></td>
                   <td>  <input type="number"  step="0.1" name="advalorem" value=0.0 onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1" name="fodinfa" value=0.0 onChange="sumar()" /></td>
                   <td>  <input type="number"  step="0.1" name="iva" value=0.0 onChange="sumar()" /></td>
                 <td>  <input type="number"  step="0.1" name="sub_total" value=0.0  onChange="sumar()" disabled=True /></td>
            </tr>
        {% endfor %}
</table> 

<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        {% comment %} <a class="btn btn-primary" href="{% url 'importacion' fecha.id %}">Atras</a> {% endcomment %}
        {% comment %} <a class="btn btn-primary"  href="{% url 'editar' fecha.id %}">editar</a>
         {% endcomment %}

        <button type="submit" class="btn btn-primary" >Guardar y continuar</button>
        {% comment %} <a class="btn btn-primary" type="submit"  href="{% url 'das' %}">Guardar y continuar</a> {% endcomment %}
        
    </div>
        <script>       


</script>                            
</form>
       
  

        {% endblock body %}