{% extends 'core/base.html'%}
{% block title %}<title>Productos</title> {% endblock title %}
        {% block body %}  
                   
<div class="centro">
        <div class="container">
                <div class="progress-container">
                    <div class="progress" id="progress" style="width: 100%;"></div>
                        <div class="circle active"><i class="fa-html5">1</i><li>Proveedor</li></div>
                        <div class="circle active"><i class="fa-js">2</i><li>DAS</li></div>
                        <div class="circle active "><i class="fa-react">3</i><li>Afianzado</li></div>
                        <div class="circle active"><i class="fa-html5">5</i><li>Importación</li></div>
                    </div>
            </div> 
        </div> 
</div>
        

        
         <h1 class="mt-4">Busqueda de productos por SKU </h1>
<br/>
 <div class="bg-light">
                    <div class="container-fluid px-4">
                        
                              <nav aria-label="breadcrumb" class="breadcrumb">
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'importacion' id %}">Inicio Importacion</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'startFP' id %}">Detalle factura</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'datosdas' id idas %}">Datos DAS</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'detalledas' id idas %}">Detalle Das</a></li>
                                 <li class="breadcrumb-item"><a href="{% url 'datosafianzado' id idas idfa  %}">Factura afianzado</a></li>
                                 <li class="breadcrumb-item"><a href="{% url 'detalleafianzado' id idas idfa  %}">Detalle afianzado</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Busqueda SKU</li>
                            </ol>
                            </nav>           
                        </div>
            </div>      
<form action="{% url 'buscarproducto' id idas idfa %}" method="POST">
                  {% csrf_token %} 
                  <div class="card-body" style="text-align: left;" >
                        <div class="form-group">
                                <label for="id_sku">Ingrese los sku</label>
                                <input type="text" class="form-control" class="form-control" id="id_sku" name="skus"  required>
                                </div>
                </div>
             
<a class="btn btn-primary"  href="{% url 'detalleafianzado' id idas idfa  %}">Atras</a>
<button type="submit" class="btn btn-primary btn-user btn-block">Buscar</button>                                    
        {% endblock body %}