{% extends 'core/base.html'%}


{% block title %}<title>Productos</title> {% endblock title %}
{% block body %}

<div class="centro">
    <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress" style="width: 60%;"></div>
            <div class="circle active"><i class="fa-html5">1</i>
                <li>Proveedor</li>
            </div>
            <div class="circle active"><i class="fa-js">2</i>
                <li>DAS</li>
            </div>
            <div class="circle active"><i class="fa-react">3</i>
                <li>Afianzado</li>
            </div>
            <div class="circle "><i class="fa-html5">5</i>
                <li>Importación</li>
            </div>
        </div>
    </div>
</div>
<h1 class="mt-4">Ingreso Factura afianzado </h1>

<div class="bg-light">
    <div class="container-fluid px-4">

        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'importacion' id %}">Inicio Importación</a></li>
                <li class="breadcrumb-item"><a href="{% url 'startFP' id %}">Detalle factura</a></li>
                <li class="breadcrumb-item"><a href="{% url 'datosdas' id idas %}">Datos DAS</a></li>
                <li class="breadcrumb-item"><a href="{% url 'detalledas' id idas %}">Detalle Das</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Factura afianzado</li>
            </ol>
        </nav>
    </div>
</div>

<div class="col-xl-12 col-md-12">

    <form action="" method="POST">
        <div class="card" align="center">

            {% csrf_token %}

            <div class="card-body">

                <div class="col-sm-3">
                    <label>Afianzado </label>
                    <select name="afianzado" id="id_afianzado" class="form-select">
                        {% for af in afianzado %}
                        <option value={{af.id}} selected>{{af.nombre}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3">

                    <label>Fecha Emisión:</label>
                    <input class="form-control" type="date" name="fecha" value={{fecha}} required id="id_fecha">
                </div>
                <div class="col-sm-3">
                    <label>Número Autorización:</label>
                    <input class="form-control" type="text" name="numero" value={{faf.numero}} maxlength="64"
                        id="id_numero">
                </div>
                <div class="col-sm-3">

                    <label>Valor Total</label>

                    <input class="form-control" type="number" name="subtotal" min="1" step="0.0001" value={{faf.subtotal}} maxlength="64"
                        id="id_subtotal">
                </div>
                <br>

                <div class="col-sm-3">
                <a class="btn btn-primary" href="{% url 'detalledas' id idas %}">Atrás</a>
                <button type="submit" class="btn btn-primary">Siguiente</button>
 </div>
            </div>



        </div>

</div>



<script>



</script>
</form>



{% endblock body %}