{% extends 'core/base.html'%}


{% block title %}<title>Productos</title> {% endblock title %}
        {% block body %}


            
<form action="calcular" method="POST">
                  {% csrf_token %}  
                  

                  <table class="default">

  <tr>
    <td>Detalle</td>
  </tr>

                       

        {% for lista in productos %}
        <tr>

    <td>  
        
        <input type="checkbox" name="checkbox" value={{ lista.id}}> {{ lista.nombre}}
        <input type="number" name="cantidad" value=0>
        <input type="text" name="pre" value={{ lista.precio_compra }}>
        <input type="text" name="sub" value={{ lista.mercancia.subpartida }}>
                <select name="proveedor">
                {% for prv in proveedores %}
                
            <option value={{ prv.id }} selected>{{ prv.nombre }}</option>
                               {% endfor %}
                                </select>
        <select name="mercancia">
        <option value={{ lista.mercancia.id }} selected>{{ lista.mercancia }}</option>
                {% for mer in mercancias %}
                
                        <option value={{ mer.id }}>{{ mer.nombre }}</option>
                
                {% endfor %}
                </select>

             
             </td>

    

  </tr>
        {% endfor %}

        

</table> 

<button type="submit" class="btn btn-primary btn-user btn-block">Acceder</button>
                                    

       
  

        {% endblock body %}