{% extends 'core/base.html'%}


{% block title %}<title>Importacion</title> {% endblock title %}

        {% block body %}
      
<form action="" method="POST">
                  {% csrf_token %}  
                  <table>
                 {{form.as_table}}
                  <td><b>Numero de proveedores </b></td>
                 <td><input type="number" name="cantidad" value=2 requiered > </td>
                 
                 
                 </table>
                 {% for message in messages %}
                        <div style="text-align: center;"  class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="btn btn-primary" data-dismiss="alert" aria-label="Close"> {{ message }}</button> 
                        </div>
                        {% endfor %}


<div class="d-flex align-items-center justify-content-between mt-4 mb-0">

        <button type="submit" class="btn btn-primary btn-user btn-block">Comenzar</button>
        
    </div>                                 

       </form>
  

        {% endblock body %}