{% extends 'core/base.html'%}


{% block title %}<title>Importacion</title> {% endblock title %}

{% block body %}
<h1 class="mt-4">Inicio de Importacion</h1>



<div class="bg-light">
    <div class="container-fluid px-4">

        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Inicio Importacion</li>
            </ol>
        </nav>
    </div>
</div>


<form action="" method="POST">
    {% csrf_token %}

    {% for message in messages %}
    <div style="text-align: center;" class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="container-fluid px-4">
                <div class="row" align="center">


                    {% comment %} {{form}} {% endcomment %}
                    <div class="card-body">
                        <div class="col-sm-3">
                            <label>Fecha </label>
                            <input type="date" class="form-control" name="fecha" value={{fecha}} required id="id_fecha" >
                        </div>
                        <div class="col-sm-3">

                            <label> Descripcion </label>
                            <input type="text" name="descripcion" class="form-control" maxlength="64"
                                id="id_descripcion" required value={{im.descripcion}}>
                        </div>
                        <div class="col-sm-3">
                            <label>Tipo </label>
                            <input type="text" name="tipo" class="form-control" maxlength="64" id="id_tipo" required
                                value={{im.tipo}}>
                        </div>
                        <div class="col-sm-3">
                            <label>Origen </label>
                            <input type="text" name="origen" class="form-control" maxlength="64" id="id_origen" required
                                value={{im.origen}}>
                        </div>
                        <div class="col-sm-3">
                            <label><b>Numero de proveedores</b> </label>
                            <input type="number" name="cantidad" class="form-control" value={{num_proveedores}}  min="1" max={{num_proveedores}} required>
                        </div>
                        <br>
                         <div class="col-sm-3">

                        <button type="submit" class="btn btn-primary btn-user btn-block">Comenzar</button>

                    </div>
                    </div>
                   



                </div>

            </div>

            {% comment %} <table class="table">
                <tbody>
                    <tr>
                        <td>Fecha : </td>
                        <td><input type="date" class="form-control" name="fecha" value={{fecha}} required
                                id="id_fecha"><br>
                            <span class="helptext">Ejemplo: 2021-07-07</span>
                        </td>
                    </tr>
                    <tr>
                        <td> Descripcion :</td>
                        <td><input type="text" name="descripcion" maxlength="64" id="id_descripcion"
                                value={{im.descripcion}}>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo : </td>
                        <td><input type="text" name="tipo" maxlength="64" id="id_tipo" value={{im.tipo}}></td>
                    </tr>
                    <tr>
                        <td>Origen :</td>
                        <td><input type="text" name="origen" maxlength="64" id="id_origen" value={{im.origen}}>
                        </td>
                    </tr>
                    <tr>
                        <td>Numero de proveedores :</td>
                        <td><input type="number" name="cantidad" value="2" requiered><br>
                            <span class="helptext">Ingrese el numero de proveedores que se va ha ingresar</span>
                        </td>


                    </tr>
                </tbody>
            </table> {% endcomment %}

        </div>




</form>


{% endblock body %}