{% extends 'core/base.html'%}


{% block title %}<title>Creación de Importación</title> {% endblock title %}
    {% block body %}
    {% comment %} {% url 'updateProductoTienda' id idas idfa %} {% endcomment %}
      <form role="form" method="POST" action="" onsubmit="ShowLoading()">
                            {% csrf_token %}  
                            <div class="alert alert-info"><h2> Alerta estos productos serán actualizados en la tienda </h2> 
                              </div>                      

                        
                           {% for message in messages %}
           

                        <div class="alert alert-warning alert-dismissable">
                        
                        <strong>¡Alerta!</strong> {{ message }}
                        </div>
                        {% endfor %}                    

               <table class="table">               
               <tr>
                  <td>SKU</td>
                 
                  <td align="left">Nombre</td>
                  <td>Nuevo costo</td>
                  <td>Total Inventario</td>

                 
               
                  
                  
               </tr>   

                   {% for lista in productos %}
                     <tr>

                     
                     <td><input type="checkbox" name="id_producto" value={{lista.producto.id}} checked> {{ lista.producto.sku}}</td>
                        </td>
                              
                        <td align="left"><label>{{ lista.producto.nombre}} </label> </td>
                         <td><label>{{ lista.nuevo_costo}} </label> </td>
                          <td><label>{{ lista.total_inventario}} </label> </td>
                        
                        
                    
                     
                              </tr>
                     {% endfor %}

                     

               </table>  
<a class="btn btn-primary"  href="{% url 'viewresults' id idas idfa %}">Atrás</a> 
              <button type="submit" class="btn btn-primary btn-user btn-block" {{desha}} >Actualizar en la tienda</button>   
              
                
   </form>
   <script>
      function ShowLoading(e) {
           var div = document.createElement('div');
           var img = document.createElement('img');
           img.src = "https://www.gifde.com/gif/otros/decoracion/cargando-loading/cargando-loading-039.gif";
           
           div.style.cssText = 'position: fixed; top: 50%; left: 31%; z-index: 5000; width: 500px; text-align: center';
           div.appendChild(img);
           document.body.appendChild(div);
           return true;
           // These 2 lines cancel form submission, so only use if needed.
           //window.event.cancelBubble = true;
           //e.stopPropagation();
      }
   
   </script>
{% endblock body %}