{% extends 'core/base.html'%}


{% block title %}<title>Creacion de Importacion</title> {% endblock title %}
    {% block body %}
      <form role="form" method="POST" action="{% url 'addproductimport' id idas idfa %}">
                            {% csrf_token %}  
                            <div class="alert alert-info"><h2> Alerta estos productos ya no podran ser modificados una vez presionado continuar </h2> 
                              </div>                      

                        
                           {% for message in messages %}
           

                        <div class="alert alert-warning alert-dismissable">
                        
                        <strong>¡Cuidado!</strong> {{ message }}
                        </div>
                        {% endfor %}                    

               <table class="table">               
               <tr>
                  <td>SKU</td>
                 
                  <td>Nombre</td>
                 
               
                  
                  
               </tr>   

                   {% for lista in productos %}
                     <tr>

                     
                     <td><input type="checkbox" name="id_producto" value={{lista.sku}} checked> {{ lista.sku}}</td>
                        <td>
                              
                        <td><label>{{ lista.nombre}} </label> </td>
                        
                    
                     
                              </tr>
                     {% endfor %}

                     

               </table>  
<a class="btn btn-primary"  href="{% url 'detalleimportacion' id idas idfa %}">Atras</a> 
              <button type="submit" class="btn btn-primary btn-user btn-block" {{desha}}>Continuar</button>   
              
                
   </form>

{% endblock body %}