{% extends 'core/base.html'%}


{% block title %}<title>Creación de Importación</title> {% endblock title %}
    {% block body %}

    <h1 class="mt-4">Creación de Importación </h1>
      <form role="form" method="POST" action="{% url 'addproductimport' id idas idfa %}">
                            {% csrf_token %}  
                            <div class="alert alert-info"><h2> Alerta estos productos ya no podrán ser modificados una vez presionado continuar </h2> 
                              </div>                      
                     
                        
                           {% for message in messages %}
           
                        <div class='{{tipoMess}}'>
                        
                        <strong>¡ATENCIÓN!</strong> {{ message }}
                        </div>

                      
                        {% endfor %}                    
 
               <table class="table">               
               <tr>
                  <td>SKU</td>
                 
                  <td align="left">Nombre</td>
                 
               
                  
                  
               </tr>   

                   {% for lista in productos %}
                     <tr>
                     <td><input type="checkbox" name="id_producto" value={{lista.sku}} checked> {{ lista.sku}}</td>
                              
                        <td align="left"><label >{{ lista.nombre}} </label> </td>
                          
                              </tr>
                     {% endfor %}

                     

               </table>  
<a class="btn btn-primary"  href="{% url 'detalleimportacion' id idas idfa %}">Atrás</a> 
              <button type="submit" class="btn btn-primary btn-user btn-block" {{desha}}>Continuar</button>   
              
                
   </form>

{% endblock body %}