{% extends 'core/base.html'%}
{% load static %}

{% block title %}<title>Productos</title> {% endblock title %}

{% block body %}
<div class="centro">
    <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress"></div>
            <div class="circle active"><i class="fa-html5">1</i>
                <li>Proveedor</li>
            </div>
            <div class="circle "><i class="fa-js">2</i>
                <li>DAS</li>
            </div>
            <div class="circle "><i class="fa-react">3</i>
                <li>Afianzado</li>
            </div>
            <div class="circle "><i class="fa-html5">5</i>
                <li>Importación</li>
            </div>
        </div>
    </div>
</div>

<link href="{% static 'core/css/proveedor.css' %}" rel="stylesheet" />
<h1 class="mt-4">Detalle factura </h1>

<div class="bg-light">
    <div class="container-fluid px-4">

        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'importacion' id %}">Inicio Importacion</a></li>

                <li class="breadcrumb-item active" aria-current="page">Detalle factura</li>
            </ol>
        </nav>
    </div>
</div>
<div class="cont">
    <form class="form-inline" action="" method="POST">


        {% csrf_token %}
        <input type="text" style="display:none;" id="n" value={{cant}}>
        <input type="text" style="display:none;"  name="num_proveedor" value={{cant1}}>
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissable">

            <strong>¡Alerta!</strong> {{ message }}
        </div>
        {% endfor %}
        {% for lista in facturaProveedor %}
        <div class="col-xl-12 col-md-12">
            <div class="card" style="text-align: left;">
                <div class="container-fluid px-4">


                    <div class="row">
                        <div class="col-sm-3">

                            <label>Proveedor </label>
                            <select name="proveedor" class="form-select">
                                <option value={{ lista.proveedor.id }} selected>{{ lista.proveedor.nombre }}</option>
                                {% for prv in proveedores %}

                                <option value={{ prv.id }}>{{ prv.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-3">

                            <label>Numero cajas</label> <input type="number" class="form-control"
                                id='num_cajas{{lista.id}}' name="ncajas" value={{lista.num_cajas}} min="1" onChange="sumar()" required>
                        </div>
                        <div class="col-sm-3">

                            <label>Valor_envio</label> <input type="number" class="form-control"
                                id='v_envio{{lista.id}}' step="0.0001" name="v_envio" value={{lista.valor_envio}} min="0" 
                                onChange="sumar()" required/>
                        </div>
                        <div class="col-sm-3">

                            <label>Valor_factura</label> <input type="number" class="form-control" 
                                id='v_factura{{lista.id}}' step="0.0001" name="v_factura" value={{lista.valor_factura}} min="1"
                                onChange="sumar()"  required/></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">

                            <label>Comision_envio </label> <input type="number" class="form-control"
                                id='comis_envio{{lista.id}}' step="0.0001" name="comis_envio" min="0"
                                value={{lista.comision_envio}} onChange="sumar()" required/>
                        </div>


                        <div class="col-sm-3">

                            <label>Comision_tarjeta </label> <input class="form-control" type="number"
                                id='comis_tarjeta{{lista.id}}' step="0.0001" name="comis_tarjeta" min="0"
                                value={{lista.comision_tarjeta}} onChange="sumar()" required />
                        </div>
                        <div class="col-sm-3">

                            <label>ISD</label> <input class="form-control" type="text" id='isd{{lista.id}}' min="0" name="isd"
                                value={{lista.isd}} onChange="sumar()" required /></div>
                        <div class="col-sm-3">

                            <label>Total pago</label> <input type="text" class="form-control" id='t_pago{{lista.id}}'
                                name="t_pago" value={{lista.total_pago}} onChange="sumar()" readonly /></div>
                        <div class="col-sm-3">

                            <label>Valor Extra </label><input type="text" class="form-control" id='extra{{lista.id}}'
                                name="extra" value={{lista.extra}} onChange="sumar()" readonly />
                        </div>


                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        {% endfor %}

        
            <a class="btn btn-primary" href="{% url 'importacion' id %}">Atras</a>


            <button class="btn"  type="submit">Siguiente</button>
        </div>



        <script>
            function sumar() {
                var s = document.getElementById("n").value;
                var ss = s.split(';')

                for (var i = 0; i < ss.length; i++) {

                    var nc = parseFloat(document.getElementById("num_cajas" + ss[i] + "").value);
                    console.log(s.split(';'), ss.length, ss[i], nc)
                    var ve = parseFloat(document.getElementById("v_envio" + ss[i] + "").value);
                    var vf = parseFloat(document.getElementById("v_factura" + ss[i] + "").value);
                    var ce = parseFloat(document.getElementById("comis_envio" + ss[i] + "").value);
                    var ct = parseFloat(document.getElementById("comis_tarjeta" + ss[i] + "").value);
                    var isd = parseFloat(document.getElementById("isd" + ss[i] + "").value);
                    console.log("valor factura", vf)
                    //var isd = document.getElementById("isd" + ss[i] + "").value = (vf + ve) * 0.05;
                   
                    console.log(isd)
                    var t_pago = document.getElementById("t_pago" + ss[i] + "").value = ve + vf + ce + ct +isd;
                    var extra = document.getElementById("extra" + ss[i] + "").value = ve + ce + ct +isd;
                    console.log(extra)

                }
            }

            function atras() {
                window.history.go(-1);
            }
        </script>
    </form>

</div>

{% endblock body %}