


{% extends 'core/base.html'%}


{% block title %}<title>Creacion de Importacion</title> {% endblock title %}
    {% block body %}
      <form role="form" method="POST" action="{% url 'productosimportados' id idas idfa %}">
                            {% csrf_token %}                        

                      <h2>  Resultado de los productos importados </h2>
                     

<div class="row">
  <div class="col"><td>SKU</td></div>
  <div class="col"> <td>Tienda</td></div>
  <div class="col"><td>Nombre</td></div>
  <div class="col"><td>Precio</td></div>
  <div class="col"><td>Peso</td></div>
  <div class="col"><td>Mercancia</td></div>
  <div class="col"><td>Cantidad</td></div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>    

<div class="row"><td>SKU</td></div>
  <div class="col"> <td>Tienda</td></div>
  <div class="col"><td>Nombre</td></div>
  <div class="col"><td>Precio</td></div>
  <div class="col"><td>Peso</td></div>
  <div class="col"><td>Mercancia</td></div>
  <div class="col"><td>Cantidad</td></div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>  
               <table class="table"> 

    
               <tr>
                  
                 
                  
                  
                  
                  
               
                  
                  
                  
               </tr>   

                   {% for lista in productos %}
                   
                     <tr>
                     <input type="number"  style="display:none;" name="id_df" value={{ lista.id }} >
                     <label></label>
                     <td><input type="checkbox" name="id_producto" value={{ lista.producto.id}} checked> {{ lista.producto.sku}}</td>
                        <td>
                        
                        <select name="proveedor">
                        
                              {% for prv in proveedores %}
                              

                              <option value={{ prv.proveedor.id }} >{{ prv.proveedor }}</option>
                                             {% endfor %}
                                    </select></td>
                        <td><label>{{ lista.producto.nombre}} </label> </td>
                        <td><input type="number"  name="precio" value={{ lista.valor_unitario }}></td>
                     
                    
                     <td><input type="number" name="peso" value={{ lista.peso }}></td>                              
                     <td><select name="mercancia">
                     <option value={{ lista.mercancia.id }} selected>{{ lista.mercancia }}</option>
                     
                              {% for mer in mercancias %}
                              
                                       <option value={{ mer.id }}>{{ mer.nombre }}</option>
                              {% endfor %}
                              </select></td>
                            <td><input type="number" name="cantidad" value={{lista.cantidad}} ></td>
                    
                              </tr>
                     {% endfor %}                    

               </table>  
 <a class="btn btn-primary"  href="{% url 'viewproduct' id idas idfa %}">Atras</a> 
              <button type="submit" class="btn btn-primary btn-user btn-block">Guardar</button>   
              <a class="btn btn-primary"  href="">Sincronizar</a>      
   </form>

{% endblock body %}