


{% extends 'core/base.html'%}


{% block title %}<title>Creacion de Importacion</title> {% endblock title %}
    {% block body %}
                        
      <form role="form" method="POST" onsubmit="ShowLoading()" action="{% url 'viewresults' id idas idfa %}">
                            {% csrf_token %}  

                            {% for message in messages %}
                        <div class='{{tipoerror}}'> {{ message }}</div>
                       

                        {% endfor %}                         

                      <h2>  Resultado de los productos importados </h2>
                     
<div id="Layer1" style="width:100%; height:100%; overflow: scroll;">
  <table class="table">
  
  <thead>
      <tr>
          <th scope="col">SKU</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Nombre</th>
          <th scope="col">ValorUnid</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Mercancia</th>
          <th scope="col">Peso</th>
          <th scope="col">Advalorem</th>
          <th scope="col">Fodinfa</th>
          <th scope="col">Iva</th>
          <th scope="col">Ps(%)</th>
          <th scope="col">Pr(%)</th>
          <th scope="col">PrT(%)</th>
          <th scope="col">Costo1</th>
          <th scope="col">Costo2</th>
          <th scope="col">Costo3</th>
          <th scope="col">C_Unit</th>
          <th scope="col">INC(%)</th>
          <th scope="col">INC($)</th>
      </tr>
    </thead>
    <tbody>
                   {% for lista in productos %}
        <tr>
            <th scope="row">{{ lista.producto.sku}}</th>
            <td>{{ lista.proveedor.nombre }}</td>
            <td>{{ lista.producto.nombre}}</td>
            <td>{{ lista.valor_unitario }}</td>
            <td>{{ lista.cantidad }}</td>
            <td>{{ lista.subtotal2 }}</td>
            <td>{{ lista.mercancia.nombre }}</td>
            <td>{{ lista.peso }}</td>
            <td>{{ lista.advalorem2 }}</td>
            <td>{{ lista.fodinfa2 }}</td>
            <td>{{ lista.iva2 }}</td>
            <td>{{ lista.ps }}</td>
            <td>{{ lista.pr }}</td>
            <td>{{ lista.prt }}</td>
            <td>{{ lista.costo1 }}</td>
            <td>{{ lista.costo2 }}</td>
            <td>{{ lista.costo3 }}</td>
            <td>{{ lista.costo_unitario }}</td>
            <td>{{ lista.inc_porcentual }}</td>
            <td>{{ lista.inc_dolares }}</td>

        </tr>
                     {% endfor %}                    

      </tbody>
  </table>
</div>
<a class="btn btn-primary"  href="{% url 'viewproduct' id idas idfa %}">Atras</a> 
                

  <button  id="sincronizar" class="btn" type="submit" >Calcular</button>    
 
   </form>

 
<script>
   function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "https://www.gifde.com/gif/otros/decoracion/cargando-loading/cargando-loading-039.gif";
        
        div.style.cssText = 'position: fixed; top: 50%; left: 31%; z-index: 5000; width: 500px; text-align: center';
        div.appendChild(img);
        document.body.appendChild(div);
        return true;
        // These 2 lines cancel form submission, so only use if needed.
        //window.event.cancelBubble = true;
        //e.stopPropagation();
   }
function activar(){
  document.getElementById("sincronizar").disabled = true
}

</script>
{% endblock body %}