
.contenedor-tabla{
	display: table;
	width: 100%;

}
.contenedor-fila {
	display: table-row;
    
}


.contenedor-columna {
	border: 1px solid rgba(0, 0, 0, 0.125);;
	display: table-cell;
	padding: 3px 5px;
    
}
.contenedor {
	margin: 20px; 

}

